body{
    font-family: 'Noto Serif', serif;
    font-family: 'Balsamiq Sans', cursive;
    color: #693800;
    
    
}
h1 {
    color: #b46b1b;
    font-family: 'Noto Serif', serif;
}
h5 {
    color: #b46b1b;
    font-family: 'Noto Serif', serif; 
}
.cafe{
    color: #b46b1b;
}
.altura {
    height: 150px;
}
.bg-fondo{
    background-color: #F3F9FA;
}
.navlink{
    
    font-family: 'Noto Serif', serif;
}
.logo{
    height: 100px;
}
.carousel-indicators {
    top:220px;
   
}
.carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color:#b46b1b; 
}
.btn-cafe {
    background-color:#b46b1b
}